---
layout: default
title: Categories
header: Posts by category
group: navigation
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {% for category in site.categories %}
  <div class="page-section" id="{{ category | first | slugify }}-ref">
    <h2 class="page-section-headline page-section-headline-{{ category | first }}">{{ category | first }}</h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.url %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
