<div class="app-brandbar" id="app-brandbar">
    <div class="app-brandbar-content">
        <div class="app-brand">
            <div class="app-brand-title">
                <a class="app-brandname" href="/">
                    <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/logo.jpg" />
                    <span class="app-brandname-heading">App Brandname</span>
                </a>
            </div>
            <div class="app-brand-claim">
                <p class="app-claim">
                    App specific claim
                </p>
            </div>
        </div>
    </div>
</div>