<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div class="app-content">
        {{ content }}
    </div>
    <div class="app-js-slot">
        {% include webfonts.html %}
    </div>
    {% include javascript.html %}
  </body>
</html>
